*{
    margin: 0;
}
.backg{
    background-image: url("Jin\ Woo.webp");
    background-size:cover;
    height: 100vh;
}
h1{
    color: crimson;
    font-size: 45px;
    position: absolute;
    top: 150px;
    left: 80px;
}